{% extends "base.html" %}

{% block title %}| Chamado {% endblock %}

{% block content %}
<div class="header">
	<h3>Chamado {{ servico.get_status_display }}</h3>
</div>
<div class="content">
	{% for msg in messages %}
		<div class="mensagem">{{ msg }}</div>
	{% endfor %}
	<p>
	Sumário: {{ servico.sumario }}<br/>
	Produto: {{ servico.produto.descricao }}<br/>
	Descrição:{{ servico.descricao|linebreaks }}
	Cliente: {{ servico.cliente }}<br/>
	Autor: {{ servico.autor }}<br/>
	Responsável: {{ servico.responsavel }}<br/>
	</p>
	
	<form action="" method="post" accept-charset="utf-8">
		<table>
			{{ form }}
		</table>
		<p><input type="submit" value="Salvar"></p>
	</form>
	<ul>
	{% for ocorrencia in ocorrencias %}
	 	<li>{{ ocorrencia.get_tipo_display }} - {{ ocorrencia.autor }}</li>
	{% endfor %}
	</ul>
</div>
{% endblock %}